<header class="flex items-center justify-between relative p-6 w-full h-16 rounded-lg shadow-sm bg-white">
  <div class="flex gap-4 items-center">
    <logo-inchurch-svg width="120" class="" />
    <span class="font-semibold text-sm text-text_primary">ID da igreja: 1985</span>
  </div>

  <div class="flex gap-4">
    <input type="text" class="border-[2px] border-text_primary rounded-lg py-2 px-4 opacity-50 cursor-not-allowed
    " placeholder="Selecionar igreja local">
    <button class="py-2 px-4 rounded-md border-2 border-details text-details hover:bg-primary hover:border-primary hover:text-white text-sm font-semibold">
      Portal do cliente
    </button>
  </div>
</header>
