<header class="flex items-center justify-between relative p-6 w-full h-16 rounded-lg shadow-sm bg-white">
  <div class="flex gap-4 items-center">
    <logo-inchurch-svg width="120" class="" />
    <span class="font-semibold text-sm text-text_primary">ID da igreja: 1985</span>
  </div>

  <div class="flex gap-4">
    <input disabled type="text" class="border-[2px] border-text_primary rounded-lg py-2 px-4 opacity-50 cursor-not-allowed
    " placeholder="Selecionar igreja local">
    <button class="py-2 px-4 rounded-md border-2 border-details text-details hover:bg-primary hover:border-primary hover:text-white text-sm font-semibold">
      Portal do cliente
    </button>

    <div class="flex items-center space-x-2 cursor-pointer">
      <img
        class="w-8 h-8 rounded-full"
        src="https://i.pravatar.cc/300"
        alt="User Avatar"
      />
      <span class="text-gray-800 font-medium">Usuário</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-4 h-4 text-gray-500"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </div>
</header>
