<main class="w-full h-screen flex flex-col md:flex-row items-center justify-center">
  <section class="w-full flex-1 flex flex-col items-center justify-center">
    <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="w-full max-w-xl flex flex-col items-center justify-center gap-4 p-4">

      <logo-inchurch-svg class="" />

      <strong class="text-4xl text-text_dark mb-7">Login</strong>

      <input type="text" placeholder="Digite seu e-mail..." formControlName="email"
        class="w-full p-2 rounded-lg outline-none bg-gray-50 focus:bg-white" />


      <input type="password" placeholder="**********" formControlName="password"
        class="w-full p-2 rounded-lg outline-none bg-gray-50 focus:bg-white" />

      <div class="w-full flex items-center justify-between">
        <div class="flex items-center gap-2">
          <input type="checkbox"  formControlName="rememberMe">
          <label class="font-medium text-text_dark">Lembrar senha</label>
        </div>
        <a href="#" class="text-primary hover:text-prymary hover:opacity-75 duration-200">Esqueceu a senha?</a>
      </div>

      <button
        class="w-full rounded-lg p-2 text-white font-medium bg-primary hover:bg-primary_light duration-200 disabled:bg-gray-500"
        type="submit"
        [disabled]="loginForm.invalid"
        >
        Acessar
      </button>
        <p class="text-text_primary md:hidden">
          Não possui uma conta?
          <a href="#" class="text-text_dark hover:text-primary hover:text-white duration-200">Criar conta.</a>
        </p>
    </form>
  </section>

  <section class="flex-1 hidden md:flex flex-col items-center justify-center w-full h-screen bg-primary">
    <div class="w-full flex flex-col items-center justify-center max-w-xl gap-8 p-4">
      <h1 class="text-white !text-2xl text-center max-w-lg lg:!text-4xl">
        Painel de Controle InChurch
      </h1>
      <span class="w-3/4 lg:w-full lg:max-w-md">
        <p class="text-lg text-white opacity-85">
          Você está prestes a entrar na maior plataforma de aplicativos para igrejas. A partir de agora você poderá
          interagir com os aplicativos de sua igreja, criar notícias, eventos, mensagens de push, inserir palavras em
          video, áudio e transcritas, Culto Ao Vivo, ajustar suas configuracões e muito mais...
        </p>
        <p class="text-text_primary">
          Não possui uma conta?
          <a href="#" class="text-text_dark hover:text-primary hover:text-white duration-200">Criar conta.</a>
        </p>
      </span>
    </div>
  </section>

</main>
