<div class="flex items-center justify-between w-full rounded-lg shadow-sm bg-white p-4">
  <section class="flex items-center gap-2">
    <lucide-angular [img]="icon()" class="h-10 w-10 hover:scale-1 text-text_dark hover:text-primary" />
    <p class="text-xl font-semibold text-text_dark">{{title()}}</p>
  </section>
  <section class="flex items-center gap-3">
    <div class="flex items-center">
      <input type="text" placeholder="Pesquisar..." class="px-4 py-2 h-[42px] border-2 border-details rounded-l-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent">

      <div class="px-3 py-2 h-[42px] border-2 border-l-0 border-details rounded-r-md">
        <lucide-angular [img]="Search" class="h-5 w-5 hover:scale-1 text-details hover:text-primary" />
      </div>
    </div>

    <button class="flex items-center justify-center h-[42px] w-[42px] border-2 border-details rounded-md">
      <lucide-angular [img]="Filter" class="h-5 w-5 hover:scale-1 text-details hover:text-primary" />
    </button>
    <button class="flex items-center justify-center h-[42px] w-[42px] border-2 border-details rounded-md">
      <lucide-angular [img]="Download" class="h-5 w-5 hover:scale-1 text-details hover:text-primary" />
    </button>
    <button class="flex items-center justify-center h-[42px] w-[42px] border-2 border-details rounded-md">
      <lucide-angular [img]="LayoutGrid" class="h-5 w-5 hover:scale-1 text-details hover:text-primary" />
    </button>
    <button class="flex items-center text-white text-sm bg-primary hover:bg-primary_light rounded-md h-[42px] px-6 gap-1">
      <lucide-angular [img]="Plus" class="h-5 w-5 hover:scale-1 text-white" />
      Novo
    </button>
  </section>
</div>
